<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <% if (userType === 'admin') { %>
  <%- include('includes/navbar') %>
  <% }else if (userType === 'doctor') { %>
  <%- include('includes/doc_navbar') %>
  <% } %>

  <section class="main">
    <!-- Add Pharmaceutical content -->
    <div class="add-pharma-content">
      <form action="/<%= userType %>/pharmacy/add" method="post" id="add_pharma">
        <div class="container-fluid p-3 bg-white rounded-2">
          <div class="add-pharma-heading d-flex justify-content-between pt-2 pb-3">
            <h2>Add Pharmaceuticals</h2>
          </div>

          <!-- pharma name and quantity section -->
          <div class="row mb-4">
            <div class="col-lg-6 m-0">
              <label for="pharma_name">Pharmaceutical Name</label><br />

              <input type="text" class="form-control rounded-4" id="pharma_name" name="name" />
            </div>

            <div class="col-lg-6 m-0">
              <label for="pharma_number">Pharmaceutical Quantity(Cartons)</label><br />

              <input type="number" placeholder="Quantity in Cartons" class="form-control rounded-4" id="pharma_number" name="quantity" />
            </div>
          </div>

          <!-- pharma category and vendor selection -->
          <div class="row mb-4">
            <div class="col-lg-6 m-0">
              <label for="pharma_category">Pharmaceutical Category</label><br />

              <select class="form-control rounded-4" id="pharma_category" name="category">
                <option selected>------Select------</option>
                <option value="Analgesics">Analgesics</option>
                <option value="Antibiotics">Antibiotics</option>
                <option value="Hormonal medications">Hormonal medications</option>
                <option value="Vaccines">Vaccines</option>
              </select>
            </div>

            <div class=" col-lg-6 m-0">
              <label for="pharma_vendor">Pharmaceutical Vendor</label><br />

              <select class="form-control rounded-4" id="pharma_vendor" name="vendor">
                <option selected>------Select------</option>
                <option value="PharmaSolutions">PharmaSolutions</option>
                <option value="MedVista Pharmaceuticals">MedVista Pharmaceuticals</option>
                <option value="Apex Pharma Solutions">Apex Pharma Solutions</option>
                <option value="PharmaGlobe">PharmaGlobe</option>
              </select>
            </div>
          </div>

          <!-- Barcode Number -->
          <div class="row m-0 mb-4">
            <label for="pharm_bc_num" class="p-0">Pharmaceutical Barcode</label>
            <input type="text" placeholder="Barcode Number" class="form-control rounded-4" id="pharm_bc_num" name="barcode_number" />
          </div>

          <!--category description -->
          <div class="row">
            <label for="pharm_cat_desc">Pharmaceutical Category Description</label>
            <div id="pharm_cat_desc" class="quill-editor"></div>
            <input type="hidden" name="description" id="desc_conent_input">
          </div>

          <!-- add category button -->
          <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
            <button type="submit" class="btn btn-primary col-lg-2 m-2">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- sweet alert cdn -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

  <script defer src="/js/admin.js"></script>

  <!-- Quill Editor -->
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.5/dist/quill.js"></script>
  <script src="/js/quill.js"></script>
  <script>
    const pharm_editor = new Quill("#pharm_cat_desc", {
      modules: {
        toolbar: toolbarOptions,
      },
      theme: "snow",
    });

    document.querySelector("#add_pharma").addEventListener("submit", (e) => {
      document.querySelector("#desc_conent_input").value = pharm_editor.root.innerHTML;
    })
  </script>


</body>

</html>