<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <%- include('includes/navbar') %>

  <section class="main">
    <!-- Add Employee content -->
    <div class="add-emp-content">
      <form action="#">
        <div class="container-fluid p-3 bg-white rounded-2">
          <h2>Add Employee Details</h2>

          <div class="add-emp-container">
            <div class="row mt-4">
              <!-- name and number -->
              <div class="col-lg-6 m-0">
                <label for="emp_name">Full Name</label><br />

                <input type="text" placeholder="Employee Name" class="form-control rounded-4" id="emp_name" />
              </div>

              <div class="col-lg-6 m-0">
                <label for="emp_mail_id">Email</label><br />

                <input type="email" placeholder="Email ID" class="form-control rounded-4" id="emp_mail_id" />
              </div>
            </div>

            <div class="row mt-4">
              <!-- Contact, DOB and gender -->
              <div class="col-lg-4 m-0">
                <label for="emp_contact_number">Contact Details</label><br />

                <input class="form-control rounded-4" type="text" minlength="10" maxlength="10" aria-label="Contact Number" id="emp_contact_number" placeholder="Contact Number" />
              </div>
              <div class="col-lg-4 m-0">
                <label for="emp_dob">Date of Birth</label><br />

                <input type="date" class="form-control rounded-4" id="emp_dob" />
              </div>

              <div class="col-lg-4">
                <label for="emp_gender">Gender</label><br />

                <select class="form-select rounded-4" aria-label="Gender">
                  <option selected>------Select------</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Others</option>
                </select>
              </div>
            </div>

            <!-- address & pincode -->
            <div class="row mt-4">
              <div class="col-lg-6 m-0">
                <label for="emp_address">Address</label><br />

                <input type="text" class="form-control rounded-4" aria-label="Address" id="emp_address" placeholder="Employee's Address"></input>
              </div>

              <div class="col-lg-6 m-0">
                <label for="emp_pincode">Pincode</label><br />

                <input type="number" minlength="6" class="form-control rounded-4" id="emp_pincode" placeholder="Area pincode" />
              </div>
            </div>

            <hr />

            <!-- ID no., Department & Position -->
            <div class="row mt-4">
              <div class="col-lg-4">
                <label for="emp_id_num">Employee ID</label><br />

                <input type="text" id="emp_id_num" class="form-control rounded-4" aria-label="ID" placeholder="ID No." />
              </div>

              <div class="col-lg-4 m-0">
                <label for="emp_dept">Department</label><br />

                <select class="form-select rounded-4" aria-label="Department" id="emp_dept">
                  <option selected>------Select------</option>
                  <option value="admin">Administration</option>
                  <option value="nurse">Nursing</option>
                  <option value="pharm">Pharmacy</option>
                  <option value="lab">Laboratory</option>
                  <option value="record">Medical Records</option>
                  <option value="mainHK">Maintenance and Housekeeping</option>
                </select>
              </div>

              <div class="col-lg-4">
                <label for="emp_pos">Postion</label><br />

                <input type="text" id="emp_pos" class="form-control rounded-4" aria-label="Position" placeholder="Employee Position" />
              </div>
            </div>

            <!-- Qualification & Experience-->
            <div class="row mt-4">
              <div class="col-lg-6">
                <label for="emp_qualifi">Qualification</label><br />

                <select class="form-select rounded-4" aria-label="Qualification">
                  <option value="" selected>------Select------</option>
                  <option value="12th">12th Pass</option>
                  <option value="diplo">Diploma or Equivalent</option>
                  <option value="grad">Graduate</option>
                  <option value="P-grad">Post Graduate</option>
                </select>
              </div>

              <div class="col-lg-6 m-0">
                <label for="emp_exp">Years of Experience</label><br />

                <input type="number" class="form-control rounded-4" id="emp_exp" />
              </div>
            </div>

            <hr>


            <!-- profile picture and additional notes  -->
            <div class="row mt-4 mb-5">
              <div class="col-lg-6 m-0">
                <label for="emp_addition_notes">Additional Notes</label><br />

                <textarea class="form-control rounded-4" aria-label="Additional Notes" id="emp_addition_notes" placeholder="Any additional notes..."></textarea>
              </div>

              <div class="col-lg-6 m-0">
                <label for="emp_pic">Profile Picture</label><br />

                <input type="file" class="form-control rounded-4" id="emp_pic">
              </div>
            </div>

            <!-- create and reset buttons -->
            <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary col-lg-2 m-2">
                Add
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>