<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HMS - Login</title>
  <link rel="icon" type="image/x-icon" href="/Assets/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="/css/forgot.css">
</head>

<body>
  <form action="/password/forgot" method="post">
    <div class="container" id="container">
      <h1 style="margin-bottom: 1rem;">Forgot Password</h1>
      <p style="color: #fc1a1a; margin-bottom: 1rem;">The entered mail isn't registered. Try again.</p>
      <label for="email">Email Address</label>
      <input type="email" placeholder="Registered Email" id="email" name="email" required />
      <button type="submit">Proceed</button>
      <br><br>
      <a href="/login">login</a>
    </div>
  </form>
</body>

</html>