<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HMS - Hospital Management System</title>
  <link rel="icon" type="image/x-icon" href="/Assets/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/media_index.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section class="container">
    <nav class="flex">
      <div class="logo">H<span>M</span>S</div>
      <div class="center-nav flex">
        <li><a href="#">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </div>
      <div class="login-sec">
        <li id="adlog">
          <a href="/login" class="btn secondary-btn">Doctor / Admin Login</a>
        </li>
      </div>
      <div class="nav-hamburger"><i class="fa-solid fa-bars"></i></div>
    </nav>
    <main class="flex">
      <div class="left-sec">
        <h1>
          Efficiency in Healing,<br />
          Excellence in Care
        </h1>
        <p>
          Hospital Management System (HMS) emerges as a top-tier solution,
          seamlessly integrating diverse Hospital Information Systems (HIS),
          processes, and machinery. This intelligent ecosystem enhances
          operational efficiency, empowers decision-making through Management
          Information Systems (MIS) and analytics, and adapts dynamically to
          healthcare advancements. HMS isn’t just software; it’s a catalyst
          for efficient, patient-centric healthcare management.
        </p>

        <a href="#contact">
          <div class="primary-btn btn">
            Call Us Now &nbsp;<i class="fa-solid fa-arrow-right"></i></div>
        </a>
      </div>

      <div class="right-sec">
        <img src="Assets/Hero.png" alt="" />
      </div>
    </main>
  </section>

  <section id="services">
    <h2 class="service-head">Our Services</h2>
    <hr />
    <div class="service-container flex">
      <div class="service-card flex">
        <span class="flex"> <i class="fa-solid fa-comment-medical"></i></span>
        <h4>Consultation</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
          laborum.
        </p>
      </div>
      <div class="service-card flex">
        <span class="flex"> <i class="fa-solid fa-stethoscope"></i></span>
        <h4>Doctors</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
          laborum.
        </p>
      </div>
      <div class="service-card flex">
        <span class="flex"> <i class="fa-solid fa-hospital"></i></span>
        <h4>Hospital</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
          laborum.
        </p>
      </div>
      <div class="service-card flex">
        <span class="flex"> <i class="fa-solid fa-pills"></i></span>
        <h4>Online Pharmacy</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem,
          laborum.
        </p>
      </div>
    </div>
  </section>

  <section id="about">
    <h2 class="about-head">About Us</h2>
    <hr />

    <div class="about-body flex">
      <div class="about-container">
        <h2>Empowering Healthcare Excellence</h2>
        <br /><br />
        <p>
          Hospital Management System (HMS) is at the forefront of
          revolutionizing healthcare administration. Our innovative solution
          integrates seamlessly with Hospital Information Systems (HIS) to
          streamline operations and enhance patient care.
        </p>
        <br />
        <p>
          At HMS, we are committed to driving efficiency and excellence in
          healthcare. Our system provides real-time data and analytics,
          empowering healthcare providers to make informed decisions and
          deliver personalized care to every patient.
        </p>
        <br />
        <p>
          With HMS, hospitals can optimize their resources, improve patient
          outcomes, and stay ahead of the curve in an ever-evolving healthcare
          landscape. Join us as we pave the way for a healthier, more
          connected future in healthcare.
        </p>
      </div>
    </div>
  </section>

  <section id="testimonials">
    <h2 class="testimonials-head">
      Read feedback about our services
      <br />
      and wonderful team
    </h2>
    <p>
      We take care of our patients just like a family
      <br />member, read the testimonial from our patients.
    </p>

    <div class="service-container flex">
      <div class="test-card flex">
        <div class="test-img">
          <img src="Assets/test-1 (1).jpg" alt="" />
        </div>
        <h4>Elijah Patel</h4>
        <div class="rating">
          <img src="Assets/5star.png" alt="" />
        </div>
        <p>
          "The staff were attentive, kind, and professional, making my
          experience comfortable and reassuring."
        </p>
      </div>
      <div class="test-card flex">
        <div class="test-img">
          <img src="Assets/test-1 (3).jpg" alt="" />
        </div>
        <h4>Sophia Nguyen</h4>
        <div class="rating">
          <img src="Assets/5star.png" alt="" />
        </div>
        <p>
          "The hospital staff's professionalism and compassion were exemplary,
          ensuring I received excellent care throughout my stay."
        </p>
      </div>
      <div class="test-card flex">
        <div class="test-img">
          <img src="Assets/test-1 (4).jpg" alt="" />
        </div>
        <h4>Mia Rodriguez</h4>
        <div class="rating">
          <img src="Assets/5star.png" alt="" />
        </div>
        <p>
          "I want to thank the hospital staff for their dedication and
          support, which greatly contributed to my positive experience."
        </p>
      </div>
      <div class="test-card flex">
        <div class="test-img">
          <img src="Assets/test-1 (2).jpg" alt="" />
        </div>
        <h4>Harper Kim</h4>
        <div class="rating">
          <img src="Assets/5star.png" alt="" />
        </div>
        <p>
          "I appreciated the efficient, well-coordinated services provided by
          the hospital staff, making my stay seamless."
        </p>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="contact-container flex">
      <div class="left-cont">
        <h4>Get in Touch</h4>
        <hr />
        <h2>Contact Us for Exceptional Care</h2>
        <p>
          We are here to address your healthcare needs and answer
          <br />
          your questions.
        </p>
        <br />
        <a href="#contact" class="btn primary-btn">Contact Us</a>
      </div>
      <div class="right-cont">
        <img src="Assets/message_5356190.png" alt="" />
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="footer-container flex">
      <div class="footer-left">
        <div class="footer-logo">H<span>M</span>S</div>

        <div class="footer-contact">
          <p>
            Fictional Hospital Name:
            <span>Example Medical Center</span>
          </p>
          <p>Address: <span>123 Main Street, Anytown, USA</span></p>
          <p>Phone: <span>555-123-4567</span></p>
          <p>Email: <span>info@hmsexample.com</span></p>
          <p>Website: <span>www.hms-example.com</span></p>
        </div>
      </div>

      <div class="footer-right flex">
        <div class="footer-links">
          <li>Links</li>
          <li><a href="#">Home</a></li>
          <li><a href="#services">Service</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </div>

        <div class="footer-social">
          <h4>Follow Us</h4>
          <div class="social-icons flex">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <p class="copyright">
      Copyright © 2024 Smith Bimal. All rights reserved.
    </p>
  </section>

  <section id="documentation-card">
    <div class="nft">
      <div class="main">
        <p class='description'>Read the documentation for better knowledge.</p>
        <a href="#"><button>Check here</button></a>
      </div>
    </div>
  </section>

  <script src="/js/index.js"></script>
</body>

</html>