<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>

<body>
  <% if (userType === 'admin') { %>
  <%- include('includes/navbar') %>
  <% }else if (userType === 'doctor') { %>
  <%- include('includes/doc_navbar') %>
  <% } %>

  <section class="main">
    <!-- Register Patient content -->
    <div class="reg-pat-content">
      <form action="#">
        <div class="container-fluid p-3 bg-white rounded-2">
          <h2>Register New Patient</h2>

          <div class="reg-pat-container">
            <!-- name, id and mail id -->
            <div class="row mt-4">
              <div class="col-lg-4 m-0">
                <label for="reg_pat_name">Full Name</label><br />

                <input type="text" placeholder="Patient Full Name" class="form-control rounded-4" id="reg_pat_name" />
              </div>

              <div class="col-lg-4 m-0">
                <label for="reg_pat_id">Patient ID</label><br />

                <input type="text" placeholder="Patient ID" class="form-control rounded-4" id="reg_pat_id" />
              </div>

              <div class="col-lg-4 m-0">
                <label for="reg_pat_mail">Email</label><br />

                <input type="email" placeholder="Patient Email ID" class="form-control rounded-4" id="reg_pat_mail" />
              </div>
            </div>

            <!-- Age, DOB and gender -->
            <div class="row mt-4">
              <div class="col-lg-4 m-0">
                <label for="reg_pat_dob">Date of Birth</label><br />

                <input type="date" class="form-control rounded-4" id="reg_pat_dob" />
              </div>

              <div class="col-lg-4 m-0">
                <label for="reg_pat_age">Age</label><br />

                <input class="form-control rounded-4" type="number" aria-label="Patient Age" id="reg_pat_age" placeholder="Patient Age" />
              </div>

              <div class="col-lg-4">
                <label for="reg_pat_gender">Gender</label><br />

                <select class="form-select rounded-4" aria-label="Gender">
                  <option selected>------Select------</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Others</option>
                </select>
              </div>
            </div>

            <!-- Contact details -->
            <div class="row mt-4">
              <div class="col-lg-6 m-0">
                <label for="reg_pat_contact_number">Contact Details</label><br />

                <input class="form-control rounded-4" type="text" minlength="10" aria-label="Contact Number" id="reg_pat_contact_number" placeholder="Contact Number" />
              </div>

              <div class="col-lg-6 m-0">
                <label for="reg_pat_emerg_contact_number">Emergency Contact Details</label><br />

                <input class="form-control rounded-4" type="text" minlength="10" aria-label="Emergency Contact Number" id="reg_pat_emerg_contact_number" placeholder="Contact Number" />
              </div>
            </div>

            <!-- address & marital status -->
            <div class="row mt-4">
              <div class="col-lg-6 m-0">
                <label for="reg_pat_address">Address</label><br />

                <input type="text" class="form-control rounded-4" aria-label="Address" id="reg_pat_address" placeholder="Patient's Address"></input>
              </div>

              <div class="col-lg-6 m-0">
                <label for="reg_pat_marital">Marital Status</label><br />

                <select class="form-select rounded-4" aria-label="Marital Status" id="reg_pat_marital">
                  <option selected>------Select------</option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="divorced">Divorced</option>
                  <option value="widowed">Widowed</option>
                  <option value="separated">Separated</option>
                </select>
              </div>
            </div>

            <!-- Ailment & Type -->
            <div class="row mt-4">
              <div class="col-lg-6">
                <label for="reg_pat_ailment">Ailment</label><br />

                <input type="text" class="form-control rounded-4" aria-label="Ailment" id="reg_pat_ailment" placeholder="Patient's Ailment"></input>
              </div>

              <div class="col-lg-6">
                <label for="reg_pat_type">Patient Type</label><br />

                <select class="form-select rounded-4" aria-label="Patient Type" id="reg_pat_type">
                  <option selected>------Select------</option>
                  <option value="in">In-patient</option>
                  <option value="out">Out-patient</option>
                </select>
              </div>
            </div>

            <!-- create and reset buttons -->
            <div class="row d-flex align-items-center justify-content-center mt-4 mb-4">
              <button type="submit" class="btn btn-primary col-lg-2 m-2">
                Register Patient
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- bootstrap cdn -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Main js file -->
  <script defer src="/js/admin.js"></script>
</body>

</html>