<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HMS - Login</title>
  <link rel="icon" type="image/x-icon" href="/Assets/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="/css/forgot.css">
</head>

<body>
  <form action="" method="post">
    <div class="container" id="container">
      <h1 style="margin-bottom: 1rem;">Reset Password</h1>
      <p style="color: #fc1a1a; margin-bottom: 1rem;">Password didn't match. Try again.</p>
      <label for="new_password">Enter New Password</label>
      <input type="password" id="new_password" name="new_pwd" minlength="8" required />

      <label for="cnf_password">Confirm New Password</label>
      <input type="password" id="cnf_password" name="cnf_pwd" minlength="8" required />
      <button type="submit">Proceed</button>
      <br><br>
    </div>
  </form>
</body>

</html>