<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HMS - Login</title>
  <link rel="icon" type="image/x-icon" href="/Assets/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="/css/forgot.css">
</head>

<body>
  <div class="container" id="container">
    <h1 style="color: #2a25d5;">Success...</h1>
    <p style="color: #053526; margin-bottom: 1rem; display: inline;line-height: 1.5rem;">Password updated successfully. <br>Click below button to Login. </p>
    <br><br>
    <a href="/login">login</a>
  </div>
  </form>
</body>

</html>