<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HMS - Login</title>
  <link rel="icon" type="image/x-icon" href="/Assets/favicon/favicon-32x32.png">
  <link rel="stylesheet" href="/css/wrong.css">
</head>

<body>
  <div class="container" id="container">
    <div class="">
      <h1>Wrong credentials.</h1>
      <p>To keep connected with us please login with your correct credential.</p>
      <a href="/login"><button>Try again</button></a>
    </div>
  </div>

</body>

</html>