@media screen and (max-width: 1200px) {
  .logo {
    width: fit-content !important;
  }

  .main {
    overflow-x: hidden;
  }

  .navigation ul li {
    margin-inline: 0 !important;
  }

  .main {
    left: 250px !important;
    width: calc(100% - 250px) !important;
  }

  .dashboard-content .card-container {
    flex-wrap: wrap;
  }

  .dashboard-content .card-container .card {
    min-width: 250px;
    flex: 1;
  }

  .dashboard-content .chart-container {
    flex-wrap: wrap;
  }

  .dashboard-content .chart-container .card {
    min-width: 350px;
    flex: 1;
  }
  .mini-doc-list-container {
    justify-content: space-evenly;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .mini-doc-list {
    max-width: 47%;
    margin-inline: 0;
  }

  .appointment-container {
    display: block !important;
    height: fit-content;
  }

  .appointment-container .card:nth-of-type(1) {
    width: 100%;
    max-height: 350px;
  }
  .appointment-container .card:nth-of-type(2) {
    margin-top: 1rem;
    min-width: 250px;
    width: 100%;
  }

  .appointment-container table {
    min-width: 540px !important;
  }

  .quick-link-container {
    flex-direction: row !important;
  }

  .quick-link-container a {
    width: 100%;
    min-width: 145px;
  }

  .quick-link-container .quick-link {
    margin-top: 0 !important;
  }

  .quick-link-icon-container {
    margin-right: 0 !important;
  }

  .lab-report-hero img,
  .app-report-hero img,
  .pat-report-hero img {
    max-width: 100%;
    min-width: 300px;
  }

  .lab-report-details {
    min-width: 350px;
  }

  .doc-profile .doc-img-container img {
    max-width: 100%;
    min-width: 300px;
    height: 100%;
    max-height: 300px;
  }
}

@media screen and (max-width: 992px) {
  .header-container {
    padding: 0 1rem !important;
  }

  .notification {
    display: none !important;
  }

  .navbar form {
    margin-right: -50px;
  }

  .main {
    top: calc(100px - 1rem) !important;
    height: calc(100% - 100px + 1rem) !important;
  }

  .navigation {
    top: calc(100px - 1rem) !important;
  }

  .quick-link-container {
    flex-wrap: wrap;
    justify-content: space-evenly !important;
  }

  .quick-link-container a {
    width: 47%;
  }

  .lab-report-hero img,
  .app-report-hero img,
  .pat-report-hero img {
    min-width: 100%;
    max-width: 400px !important;
  }

  .doc-profile .left-bot-sec {
    width: 100%;
  }

  .doc-profile div[class="p-4"] {
    padding: 10px !important;
  }

  .doc-profile .top-sec {
    flex-direction: column !important;
  }

  .doc-profile-close-btn {
    position: absolute;
    right: 35px;
    top: 30px;
    margin: 0 !important;
  }

  .doc-img-container {
    width: 75%;
    max-width: 375px;
    margin: 0 auto;
  }

  .doc-profile .top-sec div:not(.doc-img-container) {
    margin: 0 !important;
  }
  .doc-profile .top-sec div:not(.doc-img-container) div {
    padding: 10px !important;
  }

  .doc-profile
    .top-sec
    div:not(.doc-img-container)
    > div:first-of-type:not(.sec-profile-row-content) {
    text-align: center;
  }

  .sec-profile-row {
    justify-content: space-evenly;
  }

  .sec-profile-row .sec-profile-row-content {
    padding: 0;
  }

  .doc-profile .bot-sec {
    flex-direction: column;
    margin-top: 10px;
  }

  .doc-profile .bot-sec div {
    padding: 10px !important;
  }

  .doc-profile-details {
    margin-top: 10px;
  }

  #print-button {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .nav-hamburger {
    display: block;
    position: absolute;
    right: -4rem;
    padding: 0.25rem 1rem;
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px #00000069;
    z-index: 20 !important;
  }

  .navigation {
    position: absolute;
    left: -19rem;
    z-index: 20 !important;
    background-color: white;
    border-right: 1px solid #f1f1f1;
    padding-left: 1rem !important;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }

  .main {
    position: relative;
    width: 100vw !important;
    left: 0 !important;
    padding: 0 !important;
  }
  .main > div {
    padding: 10px !important;
  }

  .main div .container-fluid {
    padding: 10px !important;
  }

  .navbar form {
    display: none !important;
  }

  .account-sec img {
    display: none;
  }

  .logout {
    right: 3rem;
  }

  .slide-in {
    left: 0;
  }

  .create_appointment_link,
  .add_pharma_link {
    text-align: right;
  }

  table.dataTable tr td {
    text-align: left !important;
  }

  .pat-profile-heading {
    padding-top: 0 !important;
  }
  .pat-profile-content .left-pat-profile-sec,
  .pat-profile-content .right-pat-profile-sec {
    padding: 10px !important;
    min-width: fit-content !important;
  }

  .pat-profile-close-btn {
    margin: 0 !important;
  }

  .pat-profile-content .presc-notes-container {
    padding: 10px !important;
  }

  .pat-profile-close-btn a i,
  .emp-profile-close-btn {
    top: 10px;
    right: 10px;
  }

  .close_lab_report {
    margin: 0 !important;
  }

  #view_lab_report h2 {
    margin: 0 !important;
  }

  .app-report-details {
    padding: 10px !important;
  }

  .pat-profile-close-btn {
    margin: 0 !important;
  }

  .left-emp-profile-sec {
    min-width: 100%;
    padding: 10px !important;
  }
  .left-emp-profile-sec .emp-img-container {
    width: 200px;
    height: 200px;
  }

  .left-emp-profile-sec .emp-img-container img {
    width: 100%;
    height: 100%;
  }

  .right-emp-profile-sec {
    padding: 10px !important;
    width: 100%;
    min-width: 100%;
  }

  .right-emp-profile-sec h2 {
    margin-bottom: 10px !important;
  }

  .right-emp-profile-sec .details-container {
    padding: 10px !important;
  }

  .details-container .left-details {
    min-width: 120px;
  }

  .right-emp-profile-sec .notes-container {
    padding: 10px !important;
  }

  .main form {
    padding: 10px !important;
  }

  .main .create-appointment-content,
  .main .add-pharma-content,
  .main .add-pres-content,
  .main #new_lab_test,
  .main #new_lab_result,
  .main #new_pat_vital,
  .main .add-doc-content,
  .main .reg-pat-content,
  .main .discharge-form-content,
  .main .add-emp-content,
  .main #new_emp_pay {
    padding: 0 !important;
  }

  .btn.btn-primary,
  .btn.btn-secondary {
    margin-inline: 10px !important;
  }

  .acc-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .acc-img-container img {
    height: 250px;
    width: 250px;
  }

  .doc-profile-close-btn {
    right: 30px;
    top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .mini-doc-list {
    max-width: 100%;
  }

  .close_lab_report {
    margin-right: 10px !important;
  }

  #printable-content {
    padding-inline: 10px !important;
    margin: 0 auto;
  }
}

@media screen and (max-width: 460px) {
  #printable-content table {
    margin: -70px 0 0 -33px !important;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

@media screen and (max-width: 390px) {
  .quick-link-container a {
    width: 100%;
  }
  .doc-profile .bot-sec div {
    padding-left: 0 !important;
  }

  .right-bot-sec h2 {
    margin: 0 !important;
  }
}

@media print {
  .navbar {
    display: none !important;
  }
}
